* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

body {
  background-image: no-repeat;
  background-size: cover;
}

#student-form {
  display: flex;
  flex-direction: column;
  margin: 80px;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150%;
  padding-left: 10px;
}

.form-control input[type="text"] {
  width: 100%;
  margin-left: 50px;
}

.btn {
  border: none;
  border-radius: 5px;
  margin-left: 60px;
  margin-top: 10px;
}
